body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    background-color: #881EE4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #F75F1C;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    text-align: center;
    position: bottom;
    background-color: gray;
    color: white;
}

.content_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.candy_container {
    height: 250px;
    width: 200px;
    text-align: center;
    background-color: #FF9A00;
    border: 1px solid white;
    border-radius: 15px;
    margin: 2%;
}

.candy_container:hover { /* EXTEA CREDIT */
    transition: transform 1.2s linear;
    transform: rotate(360deg);
    background-color: #85E21F;
    border: 1px solid #7400da;
}

.candy_picture {
    padding: 20px;
    width: 150px;
    height: 150px;
}